.App {
    font-family: sans-serif;
    text-align: center;
}

body {
    background: rgb(0, 0, 77);
    color: azure;
}

a {
    font-size: 14px;
    position: relative;
    top: -12px;
}

.container {
    border-style: solid;
    border-radius: 10px;
    padding: 30px;
    margin-top: 15px;
}

#current-forecast {
    margin-top: 15px;
}

#source-link {
    padding-left: 70px;
}

#current-location {
    background-color: #ff9933;
    border-radius: 15px;
    padding: 5px;
}